/* no preset */
.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* postion preset*/
.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed !important; }

/* border raduis */
.border-raduis {
  border-radius: 2px !important; }

.border-raduis-2x {
  border-radius: 4px !important; }

.border-raduis-3x {
  border-radius: 6px !important; }

.border-raduis-4x {
  border-radius: 8px !important; }
