
$border-raduis:2px;

 /* no preset */
.no-margin { 
    margin:  0 !important;
}

.no-padding { 
    padding: 0 !important;
}

.no-border {
    border: none !important;
}

.no-box-shadow { 
    box-shadow: none !important;
}

.no-text-shadow { 
    text-shadow: none !important;
}

.no-opacity { 
    opacity:1 !important;
}

 /* postion preset */
.position-relative { 
    position:relative !important;
}

.position-absolute { 
    position: absolute !important;
}

.position-fixed { 
    position:fixed !important;
}

 /* border raduis */
.border-raduis { 
    border-radius: $border-raduis !important;
}

.border-raduis-2x { 
    border-radius:$border-raduis * 2 !important;
}

.border-raduis-3x { 
    border-radius:$border-raduis * 3 !important;
}

.border-raduis-4x { 
    border-radius:$border-raduis * 4 !important;
}   

 /* text decoration */
.text-decoration-none { 
    text-decoration: none !important;
}

.text-decoration-underline { 
    text-decoration: underline !important;
}

.text-decoration-overline { 
    text-decoration: overline !important;
}

.text-decoration-line-through { 
    text-decoration: line-through !important;
}

/* opacity */
@for $opacity from 1 through 9 {
  .opacity-#{$opacity} {
    opacity:$opacity/10 !important; }
}