 
 /* text decoration */
.no-text-decoration { 
    text-decoration: none !important;
}

.text-underline { 
    text-decoration: underline !important;
}

.text-overline { 
    text-decoration: overline !important;
}

.text-line-through { 
    text-decoration: line-through !important;
}

/* text alignment */
.text-left { 
    text-align: left !important;
}

.text-center { 
    text-align: center !important;
}

.text-right { 
    text-align: right !important;
}

.text-justify  { 
    text-align:justify !important;
}

/* text transform */
.no-text-transform { 
    text-transform: none !important;
}

.text-uppercase { 
    text-transform: uppercase !important;
}

.text-lowercase { 
    text-transform: lowercase !important;
}

.text-capitalize {
    text-transform: capitalize;
}

